
:root {
    --base-color: #212121;
    --additional-color: #2196F3;
    --accent-color: #000000;
    --text-color: #757575;
    --attribute-color: #FFFFFF;
    --section-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;
    --portfolio-color: #F5F5F5;
    --button-active: #188CE8;
    --border-color: #ECECEC;
    --secondary-border: #EEEEEE;
    --icon-color: #AFB1B8;
    --background-icon: rgba(255, 255, 255, 0.1);
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}